.cuadro-padre{
    display: flex;
    height: 600px;
    flex-direction: row;
    background-color: rgb(240, 206, 194);
    /*nos permite alinear en horizontal*/
    justify-content: space-between;
    /*nos permite alinear en vertical*/
    align-items: center;
}

.cuadro{
    height: 100px;
    width: 100px;
    padding: 50px 40px 30px 20px;
    margin: 20px 40px;
    border: 10px solid yellow;
    border-radius: 10px 20px 30px 40px;
    display: block;
}

.el-1{
    background-color: aliceblue;
   /*display: none;*/
   align-self: flex-start;
   flex-grow: 2;
}

.el-2{
    background-color: blueviolet;
    flex-grow: 1;
   
}
.el-3{
    background-color: red;
    align-self: flex-end;
    flex-grow: 1;
   
}
.el-4{
    background-color: green;
    flex-grow: 10;
   
}
/*
.el-5{
    background-color: pink;
   <
}*/




/*--------------- Introducción a Boostrap ------------------*/

.Contenedor{
    height: 200px;
    background-color: #80cccc;
    max-width: 1500px;
    margin: 0 auto;
}

.fila{
    display: flex;
}

.columna{
    flex-grow: 1;
}

.color-rojo{
    background-color: red;
}